<%- include("partials/header.ejs") %>
<h1>About Me</h1>
<img class="profile" src="images/cat.jpeg" alt="cat profile">
<p>
  Cats possess a range of fascinating physical and behavioral traits that make them unique. Their retractable claws allow them to climb, scratch, and hunt with precision while staying protected when not in use. A cat’s whiskers are highly sensitive and help them navigate tight spaces and detect nearby objects. Their powerful sense of hearing and acute vision, especially in low light, make them excellent hunters, even though many domesticated cats no longer rely on hunting for food.

  
  
  </p>

  <%- include("partials/footer.ejs") %>